[flake8]
# match settings for black code formatting
max-line-length = 88
# E123, E125 skipped as they are invalid PEP-8.
# E501 so we don't barf on line length (this should already be handled by black)
# H202 needed in testing
# F811 needed in fixture testing
show-source = True
ignore = E123,E125,E501,H202,F811
exclude = .venv,.git,.tox,dist,doc,*lib/python*,*egg,build,venv,*release.json.py,*.xml
