[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "gemfury"
url = "https://pypi.fury.io/${FURY_TOKEN}/doordash/"
verify_ssl= false

[dev-packages]
coverage = "*"
flake8 = "*"
flake8-formatter-junit-xml = "*"
pepper8 = "*"
junit-xml = "*"
mypy = "*"
pytest = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-xdist = "*"
tox-pipenv = "*"
tox = "<3.8.0"  # 3.8 is incompatible with tox-pipenv
black = "==19.3b0"  # You have to lock pre-releases

[packages]
flask = ">=1.0.3"
uwsgi = ">=2.0.18"
doordash-python-lib = {version=">=0.10.2", index="gemfury"}
ninox = {version="*", index="gemfury", extras=["py3", "CLI"]}

[requires]
python_version = "3.7"
