[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "artifactory"
url = "https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@ddartifacts.jfrog.io/ddartifacts/api/pypi/pypi-local/simple/"
verify_ssl = true

[[source]]
name = "gemfury"
url = "https://pypi.fury.io/${FURY_TOKEN}/doordash/"
verify_ssl = true

[dev-packages]
asynctest = "==0.13.0"
coverage = "==4.5.3"
factory_boy = "==2.12.0"
flake8 = "==3.7.8"
flake8-formatter-junit-xml = "==0.0.6"
pepper8 = "==1.1.1"
junit-xml = "==1.8"
mypy = "==0.720"
pytest = "==5.0.1"
pytest-html = "==1.21.1"
pytest-mock = "==1.10.4"
pytest-xdist = "==1.29.0"
pytest-timeout = "==1.3.3"
black = "==19.3b0"  # You have to lock pre-releases
pre-commit = "==1.17.0"
pytest-asyncio = "==0.10.0"
pydevd-pycharm = "~=192.5728.105"
psutil = "==5.6.3"
pexpect = "==4.7.0"
freezegun = "==0.3.12"

[packages]
doordash-python-lib = {version = "==0.10.2",index = "gemfury"}
ninox = {version = "*",index = "gemfury",extras = ["py3", "CLI"]}
fastapi = "==0.38.1"
uvicorn = "==0.8.4"
gunicorn = "==19.9.0"
typing-extensions = "==3.7.4"
tenacity = "==5.0.4"
structlog = "==19.1.0"
alembic = "~=1.0.11"
psycopg2 = "==2.7.7"
stripe = "==2.32.1"
requests = "==2.22.0"
setproctitle = "==1.1.10"
email-validator = "==1.0.4"
aiohttp = "==3.5.4"
sentry-sdk = "==0.10.2"
apscheduler = "==3.6.1"
protobuf-identity = {version = "==0.2.29",index = "artifactory"}
cachetools = "==3.1.1"
aiopg = "==0.16.0"
ipython = "==7.7.0"
newrelic = "==5.0.2.126"

[requires]
python_version = "3.7"
