--extra-index-url https://pypi.fury.io/${FURY_TOKEN}/doordash/
--extra-index-url https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@ddartifacts.jfrog.io/ddartifacts/api/pypi/pypi-local/simple/

doordash-pressure==1.0.6
