--extra-index-url https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@ddartifacts.jfrog.io/ddartifacts/api/pypi/pypi-local/simple/

payin-v0-client==0.0.8
payin-v1-client==0.0.4
payout-v0-client==0.0.12
payout-v1-client==0.0.6
stripe==2.32.1
