--extra-index-url https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@ddartifacts.jfrog.io/ddartifacts/api/pypi/pypi-local/simple/

apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
boto3==1.9.188
botocore==1.12.188
certifi==2019.6.16
chardet==3.0.4
click==7.0
decorator==4.4.0
docutils==0.14
doordash-pulse==2.1.8
doordash-secret==0.0.30
execnet==1.6.0
future==0.17.1
googleapis-common-protos==1.6.0
grpcio-tools==1.22.0
grpcio==1.22.0
idna==2.8
importlib-metadata==0.18
jmespath==0.9.4
junitparser==1.3.2
more-itertools==7.1.0
packaging==19.0
platform-services-protobuf==0.2.15
pluggy==0.12.0
protobuf==3.9.0
py==1.8.0
pyparsing==2.4.0
pypd==1.1.0
pytest-forked==1.0.2
pytest-html==1.21.1
pytest-metadata==1.8.0
pytest-mock==1.10.4
pytest-xdist==1.29.0
pytest==5.0.1
python-dateutil==2.8.0 ; python_version >= '2.7'
pyyaml==5.1.1
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
slackclient==1.3.1
urllib3==1.25.3 ; python_version >= '3.4'
wcwidth==0.1.7
websocket-client==0.54.0
zipp==0.5.2
