interactions:
- request:
    body: email=test%40user.com&description=customer+name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 600e7306-3cf1-4ade-9d4e-2b79b2496b9b
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FvFlb3L9PoKJE3\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570089699,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": \"customer name\",\n  \"discount\"\
        : null,\n  \"email\": \"test@user.com\",\n  \"invoice_prefix\": \"3DAEEF9D\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvFlb3L9PoKJE3/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FvFlb3L9PoKJE3/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvFlb3L9PoKJE3/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 600e7306-3cf1-4ade-9d4e-2b79b2496b9b
      original-request:
      - req_dQSbNeYiaSWhJc
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_FvFlb3L9PoKJE3
  response:
    body:
      string: "{\n  \"id\": \"cus_FvFlb3L9PoKJE3\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570089699,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": f[...]
