interactions:
- request:
    body: email=hahn%40doordash.com&description=Hello%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21709c4c-b34d-4581-93cd-0b011c91ea12
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FvFZtshwk6FBdy\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570088991,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": \"Hello!\",\n  \"discount\"\
        : null,\n  \"email\": \"hahn@doordash.com\",\n  \"invoice_prefix\": \"C6884CCE\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvFZtshwk6FBdy/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FvFZtshwk6FBdy/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvFZtshwk6FBdy/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 21709c4c-b34d-4581-93cd-0b011c91ea12
      original-request:
      - req_nNC7nMTRZF7ZFA
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FvFZtshwk6FBdy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e76fdfbb-dd3a-4811-83db-941f9baeb237
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_0FPP4Nrw8hWoEwIJ3rqVFfUR\",\n  \"object\": \"payment_method\"\
        ,\n  \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n \
        \     \"country\": null,\n      \"line1\": null,\n      \"line2\": null,\n\
        \      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"card\": {\n \
        \   \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"description\": \"Visa Classic\"\
        ,\n    \"exp_month\": 10,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"\
        rca24boD2K4iFl6k\",\n    \"funding\": \"credit\",\n    \"generated_from\"\
        : null,\n    \"iin\": \"424242\",\n    \"issuer\": \"Stripe Payments UK Limited\"\
        ,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\"\
        : true\n    },\n    \"wallet\": null\n  },\n  \"created\": 1570088991,\n \
        \ \"customer\": \"cus_FvFZtshwk6FBdy\",\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - e76fdfbb-dd3a-4811-83db-941f9baeb237
      original-request:
      - req_EiPwNxDWN2T5XD
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FvFZtshwk6FBdy&payment_method=pm_0FPP4Nrw8hWoEwIJ3rqVFfUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 08b063e7-f8b9-4e24-9115-37a883950e6a
      Stripe-Account:
      - acct_1EVmnIBKMMeR8JVH
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body:
      string: "{\n  \"id\": \"pm_1FPP4OBKMMeR8JVHILmZnXNG\",\n  \"object\": \"payment_method\"\
        ,\n  \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n \
        \     \"country\": null,\n      \"line1\": null,\n      \"line2\": null,\n\
        \      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"card\": {\n \
        \   \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 10,\n    \"exp_year\"\
        : 2020,\n    \"fingerprint\": \"b3Du40WkqEKDAnQQ\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1570088992,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 08b063e7-f8b9-4e24-9115-37a883950e6a
      original-request:
      - req_5EQGdbfWXmnKYa
      stripe-account:
      - acct_1EVmnIBKMMeR8JVH
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: email=hahn%2Baus%40doordash.com&description=Hello%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 774dbc2b-9d44-4cc1-8afe-796e72569c04
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FvFZ8RPR36mbJd\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570088992,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": \"Hello!\",\n  \"discount\"\
        : null,\n  \"email\": \"hahn+aus@doordash.com\",\n  \"invoice_prefix\": \"\
        114FA1BA\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n   \
        \ \"default_payment_method\": null,\n    \"footer\": null\n  },\n  \"livemode\"\
        : false,\n  \"metadata\": {\n  },\n  \"name\": null,\n  \"phone\": null,\n\
        \  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"sources\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FvFZ8RPR36mbJd/sources\"\
        \n  },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_FvFZ8RPR36mbJd/subscriptions\"\n  },\n  \"tax_exempt\"\
        : \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_FvFZ8RPR36mbJd/tax_ids\"\n  },\n  \"tax_info\": null,\n\
        \  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 774dbc2b-9d44-4cc1-8afe-796e72569c04
      original-request:
      - req_aDnw6OdAbdLkfl
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FvFZ8RPR36mbJd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 04b1b27d-fcc2-4624-b019-cce549906909
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1FPP4OBKMMeR8JVHILmZnXNG/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1FPP4OBKMMeR8JVHILmZnXNG\",\n  \"object\": \"payment_method\"\
        ,[...]
