interactions:
- request:
    body: email=john.law%40doordash.com&description=customer+0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f04d9c13-3c5b-4c07-ac7a-5c28be0a69fc
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu23bFfHkgNhM\",\n  \"object\": \"customer\",\n\
        \  \"address\": null,\n  \"balance\": 0,\n  \"created\": 1579926436,\n  \"\
        currency\": null,\n  \"default_source\": null,\n  \"delinquent\": false,\n\
        \  \"description\": \"customer 0\",\n  \"discount\": null,\n  \"email\": \"\
        john.law@doordash.com\",\n  \"invoice_prefix\": \"AA46B0BF\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n \
        \ },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n\
        \  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n\
        \    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Gbu23bFfHkgNhM/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_Gbu23bFfHkgNhM/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Gbu23bFfHkgNhM/tax_ids\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - f04d9c13-3c5b-4c07-ac7a-5c28be0a69fc
      original-request:
      - req_3K581Zd1L3VSlh
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/customers?email=john.law%40doordash.com&limit=10
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"\
        cus_Gbu3OJ30MQx7p2\",\n      \"object\": \"customer\",\n      \"address\"\
        : null,\n      \"balance\": 0,\n      \"created\": 1579926441,\n      \"currency\"\
        : null,\n      \"default_source\": null,\n      \"delinquent\": false,\n \
        \     \"description\": \"customer 19\",\n      \"discount\": null,\n     \
        \ \"email\": \"john.law@doordash.com\",\n      \"invoice_prefix\": \"B0BA6973\"\
        ,\n      \"invoice_settings\": {\n        \"custom_fields\": null,\n     \
        \   \"default_payment_method\": null,\n        \"footer\": null\n      },\n\
        \      \"livemode\": false,\n      \"metadata\": {\n      },\n      \"name\"\
        : null,\n      \"phone\": null,\n      \"preferred_locales\": [\n\n      ],\n\
        \      \"shipping\": null,\n      \"sources\": {\n        \"object\": \"list\"\
        ,\n        \"data\": [\n\n        ],\n        \"has_more\": false,\n     \
        \   \"total_count\": 0,\n        \"url\": \"/v1/customers/cus_Gbu3OJ30MQx7p2/sources\"\
        \n      },\n      \"subscriptions\": {\n        \"object\": \"list\",\n  \
        \      \"data\": [\n\n        ],\n        \"has_more\": false,\n        \"\
        total_count\": 0,\n        \"url\": \"/v1/customers/cus_Gbu3OJ30MQx7p2/subscriptions\"\
        \n      },\n      \"tax_exempt\": \"none\",\n      \"tax_ids\": {\n      \
        \  \"object\": \"list\",\n        \"data\": [\n\n        ],\n        \"has_more\"\
        : false,\n        \"total_count\": 0,\n        \"url\": \"/v1/customers/cus_Gbu3OJ30MQx7p2/tax_ids\"\
        \n      }\n    },\n    {\n      \"id\": \"cus_Gbu30XjyQiE6r2\",\n      \"\
        object\": \"customer\",\n      \"address\": null,\n      \"balance\": 0,\n\
        \      \"created\": 1579926441,\n      \"currency\": null,\n      \"default_source\"\
        : null,\n      \"delinquent\": false,\n      \"description\": \"customer 18\"\
        ,\n      \"discount\": null,\n      \"email\": \"john.law@doordash.com\",\n\
        \      \"invoice_prefix\": \"0316337C\",\n      \"invoice_settings\": {\n\
        \        \"custom_fields\": null,\n        \"default_payment_method\": null,\n\
        \        \"footer\": null\n      },\n      \"livemode\": false,\n      \"\
        metadata\": {\n      },\n      \[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/customers?email=john.law%40doordash.com&limit=10&starting_after=cus_Gbu2PIAUWiJJH6
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"\
        cus_Gbu2PyHTsCu0HO\",\n      \"object\": \"customer\",\n      \"address\"\
        : null,\n      \"balance\": 0,\n      \"created\": 15[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu3OJ30MQx7p2
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu3OJ30MQx7p2\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu30XjyQiE6r2
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu30XjyQiE6r2\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu3QWf2TYrrKP
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu3QWf2TYrrKP\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu3fAl8zS9DDe
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu3fAl8zS9DDe\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu3UbSBVf4u0m
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu3UbSBVf4u0m\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu37TJP9HqkF5
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu37TJP9HqkF5\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2GryakFVunv
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2GryakFVunv\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2XHhifGBRhf
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2XHhifGBRhf\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu290VkNdC8xT
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu290VkNdC8xT\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2PIAUWiJJH6
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2PIAUWiJJH6\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2PyHTsCu0HO
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2PyHTsCu0HO\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2eQRentYSge
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2eQRentYSge\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2JMqaOKAr3u
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2JMqaOKAr3u\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2INdoXwaeiX
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2INdoXwaeiX\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2DR9QwYjixQ
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2DR9QwYjixQ\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2g3CT7kN1cM
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2g3CT7kN1cM\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2cwyBrAjk2m
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2cwyBrAjk2m\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2E4UQI5E4PO
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2E4UQI5E4PO\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu2bSkRy5PNzy
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu2bSkRy5PNzy\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_Gbu23bFfHkgNhM
  response:
    body:
      string: "{\n  \"id\": \"cus_Gbu23bFfHkgNhM\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
version: 1
