interactions:
- request:
    body: email=jane.doe%40gmail.com&description=jane+name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4223645f-1bd7-47d8-95fb-105ae099c386
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_GPuXWAOTJ3Zb4W\",\n  \"object\": \"customer\",\n\
        \  \"address\": null,\n  \"balance\": 0,\n  \"created\": 1577160589,\n  \"\
        currency\": null,\n  \"default_source\": null,\n  \"delinquent\": false,\n\
        \  \"description\": \"jane name\",\n  \"discount\": null,\n  \"email\": \"\
        jane.doe@gmail.com\",\n  \"invoice_prefix\": \"2CEFDE43\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n \
        \ },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n\
        \  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n\
        \    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_GPuXWAOTJ3Zb4W/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_GPuXWAOTJ3Zb4W/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_GPuXWAOTJ3Zb4W/tax_ids\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 4223645f-1bd7-47d8-95fb-105ae099c386
      original-request:
      - req_sHf4ofmh6u6998
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_GPuXWAOTJ3Zb4W
  response:
    body:
      string: "{\n  \"id\": \"cus_GPuXWAOTJ3Zb4W\",\n  \"object\": \"customer\",\n\
        \  \"address\": null,\n  \"balance\": 0,\n  \"created\": 1577160589,\n  \"\
        currency\": null,\n  \"default_source\": null,\n  \"delinquent\": false,\n\
        \  \"description\": \[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_GPuXWAOTJ3Zb4W
  response:
    body:
      string: "{\n  \"id\": \"cus_GPuXWAOTJ3Zb4W\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2019-12-03'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_GPuXWAOTJ3Zb4W
  response:
    body:
      string: "{\n  \"id\": \"cus_GPuXWAOTJ3Zb4W\",\n  \"object\": \"customer\",\n\
        \  \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-12-03'
    status:
      code: 200
      message: OK
version: 1
