interactions:
- request:
    body: email=hahn%40doordash.com&description=Hello%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f518c4c1-a91b-44ef-9c27-9c4d4adaa215
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_Fv7YglldYsL2bq\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570059151,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": \"Hello!\",\n  \"discount\"\
        : null,\n  \"email\": \"hahn@doordash.com\",\n  \"invoice_prefix\": \"3E79CE47\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Fv7YglldYsL2bq/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_Fv7YglldYsL2bq/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Fv7YglldYsL2bq/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - f518c4c1-a91b-44ef-9c27-9c4d4adaa215
      original-request:
      - req_D4Adgn53YQOYbj
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_Fv7YglldYsL2bq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6ed72d51-71d3-42f9-bcbd-ea7d6c82586b
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_0FPHJ5rw8hWoEwIJ8M4I2c42\",\n  \"object\": \"payment_method\"\
        ,\n  \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n \
        \     \"country\": null,\n      \"line1\": null,\n      \"line2\": null,\n\
        \      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"card\": {\n \
        \   \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"description\": \"Visa Classic\"\
        ,\n    \"exp_month\": 10,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"\
        rca24boD2K4iFl6k\",\n    \"funding\": \"credit\",\n    \"generated_from\"\
        : null,\n    \"iin\": \"424242\",\n    \"issuer\": \"Stripe Payments UK Limited\"\
        ,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\"\
        : true\n    },\n    \"wallet\": null\n  },\n  \"created\": 1570059152,\n \
        \ \"customer\": \"cus_Fv7YglldYsL2bq\",\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 6ed72d51-71d3-42f9-bcbd-ea7d6c82586b
      original-request:
      - req_1Hem0DbVJASDz0
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
version: 1
