interactions:
- request:
    body: email=hahn%40doordash.com&description=Hello%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b64ce399-0547-49f8-ae25-c481c0bfe99b
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FvaDEiT3m1zP2D\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1570165819,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": \"Hello!\",\n  \"discount\"\
        : null,\n  \"email\": \"hahn@doordash.com\",\n  \"invoice_prefix\": \"FAA987B3\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvaDEiT3m1zP2D/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FvaDEiT3m1zP2D/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FvaDEiT3m1zP2D/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - b64ce399-0547-49f8-ae25-c481c0bfe99b
      original-request:
      - req_4V28Sf57dluXZv
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: source=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 20d1ae6a-9216-45e6-9e2b-c911b9143387
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/customers/cus_FvaDEiT3m1zP2D/sources
  response:
    body:
      string: "{\n  \"id\": \"card_FvaE8PZk4235Nm\",\n  \"object\": \"card\",\n  \"\
        address_city\": null,\n  \"address_country\": null,\n  \"address_line1\":\
        \ null,\n  \"address_line1_check\": null,\n  \"address_line2\": null,\n  \"\
        address_state\": null,\n  \"address_zip\": null,\n  \"address_zip_check\"\
        : null,\n  \"brand\": \"Visa\",\n  \"country\": \"US\",\n  \"customer\": \"\
        cus_FvaDEiT3m1zP2D\",\n  \"cvc_check\": null,\n  \"description\": \"Visa Classic\"\
        ,\n  \"dynamic_last4\": null,\n  \"exp_month\": 10,\n  \"exp_year\": 2020,\n\
        \  \"fingerprint\": \"rca24boD2K4iFl6k\",\n  \"funding\": \"credit\",\n  \"\
        iin\": \"424242\",\n  \"issuer\": \"Stripe Payments UK Limited\",\n  \"last4\"\
        : \"4242\",\n  \"metadata\": {\n  },\n  \"name\": null,\n  \"tokenization_method\"\
        : null,\n  \"use\": \"credit\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 20d1ae6a-9216-45e6-9e2b-c911b9143387
      original-request:
      - req_2kc1jCjCIGzMvn
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FvaDEiT3m1zP2D&payment_method=card_FvaE8PZk4235Nm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c2bcd8dc-bcf1-454f-9a74-03d7029ac21f
      Stripe-Account:
      - acct_1EVmnIBKMMeR8JVH
      Stripe-Version:
      - '2019-09-09'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body:
      string: "{\n  \"id\": \"pm_1FPj3ZBKMMeR8JVHkJ33miJO\",\n  \"object\": \"payment_method\"\
        ,\n  \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n \
        \     \"country\": null,\n      \"line1\": null,\n      \"line2\": null,\n\
        \      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\"\
        : null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"card\": {\n \
        \   \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 10,\n    \"exp_year\"\
        : 2020,\n    \"fingerprint\": \"b3Du40WkqEKDAnQQ\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1570165822,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - c2bcd8dc-bcf1-454f-9a74-03d7029ac21f
      original-request:
      - req_kcnbBTTIrHkS18
      stripe-account:
      - acct_1EVmnIBKMMeR8JVH
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-09-09'
    status:
      code: 200
      message: OK
version: 1
